In [3]:
# print 0 to 20 by using range
for i in range(0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [15]:
# print range 10 to 20
for i in range(10,20):
    print(i,end = " ")

10 11 12 13 14 15 16 17 18 19

In [17]:
# Print number of items in the list by using 'len'
List2 = [10, 20, 14, 55, 43, 87, 76]
print("Number of item in the List2:",len(List2))

Number of item in the List2: 7

In [21]:
str = "Artificial Intelligence"
print(str)
for i in str:
    print(i)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [23]:
name = input("Enter your Name")
age = input("Enter your Age")
profession = input("Enter your Profession")
print("-Your Name-", name)
print("-Your age-", age)
print("-Your Profession-",profession)

Enter your Name Aishwarya
Enter your Age 24
Enter your Profession Software Engineer

-Your Name- Aishwarya
-Your age- 24
-Your Profession- Software Engineer

In [25]:
tup = (1, 'Welcome', 2, 'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [29]:
tup1 = (0, 1, 2, 3)
tup2 = ('python', 'HOPE')

result = (tup1, tup2)
print(result)

((0, 1, 2, 3), ('python', 'HOPE'))

In [37]:
# print odd numbers in the list

list1 = [20,10,16,19,25,1,276,188]
for i in list1:
    if i%2 != 0:
        print(i , " is odd. ")

19  is odd.
25  is odd.
1  is odd.

In [39]:
# print even numbers in the list

list1 = [20,10,16,19,25,1,276,188]
for i in list1:
    if i%2 == 0:
        print(i , " is even. ")

20  is even.
10  is even.
16  is even.
276  is even.
188  is even.